<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") -%>
</head>
<%- include("../partials/header") -%>

    <body>
        <p>I'm the about page</p>
    </body>
    <%- include("../partials/footer") -%>

</html>